.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 20px;
  margin-left: 5px;
  margin-right: 5px;
  max-height: 100vh !important;
}

.heading {
  width: 100%;
}

.start {
  color: #333333 !important;
  font-weight: 800 !important;
  /* font-family: Bitter !important; */
}

.dotted {
  border-top: dotted 1px;
}

p {
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
}

.question {
  font-weight: 700;
  margin-bottom: 12px !important;
  font-size: 16px;
  background-image: inherit !important;
  width: 300px;
}

.next {
  color: #333333 !important;
  font-weight: 700 !important;
}

.next-question-grad {
  background-image: linear-gradient(
    to right,
    #ede574 0%,
    #e1f5c4 51%,
    #ede574 100%
  );
  width: 140px !important;
  height: 55px !important;
  font-size: 16px !important;
  font-weight: 900;
  border-radius: 20px;
}
.next-question-btn-grad:hover {
  background-position: right center;
}

.box-1 {
  font-family: "Luckiest Guy", cursive;
  font-size: calc(31px + 2vmin);
  margin: 3rem;
}

.boxes {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.final-score {
  margin-top: 100px !important;
}

.animate__animated.animate__flipInX {
  --animate-duration: 5s;
}
